body {
  background-color: #006241;
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  margin-bottom: 20px;
}

.post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
}
